@media screen and (max-width: 768px) {

    .tmpbox {   
        background-color: var(--primaryColor);
        border: 1px solid var(--secondaryColor);
        border-radius: 16px;
        position: fixed;
        top: 25px;
        left: 25px;
        bottom: 85px;
        right: 25px;
        padding: 25px;
        overflow: auto;
    }

    .userName {
        color: var(--textColor);
        font-family: var(--fontType);
        font-size: 40px; 
        margin: 0px;
    }

    .userFeatures{
        color: var(--textColor);
        font-size: 20px; 
    }

    .navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .navbar-list {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        width: 100%;
        padding: 0px;
        margin-bottom: 0;
        border-top: 1px solid var(--secondaryColor);
        border-radius: 16px 16px 0 0;
    }

    .navbar-button {
        color: var(--textColor);
        background-color: var(--primaryColor);
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px;
        opacity: 0.8;
    }

    .navbar-button.left{
        border-radius: 16px 0 0 0;
    }

    .navbar-button.right{
        border-radius: 0 16px 0 0;
    }

    
}

@media screen and (min-width: 769px) {

    .tmpbox {   
        background: var(--primaryColor);
        border: 1px solid var(--secondaryColor);
        border-radius: 16px;
        position: fixed;
        top: 25px;
        left: 25px;
        bottom: 25px;
        right: 25px;
        padding: 25px;
        overflow: auto;
    }
    
    .navbar {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        border-radius: 0 16px 0 16px;
        border: 1px solid var(--secondaryColor);
      }

    .navbar-list {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        width: 100%;
        padding: 0px;
        margin: 0;
    }
    
    .navbar-button {
        color: var(--textColor);
        background-color: var(--primaryColor);
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px;
        opacity: 0.8;
        
    }

    .navbar-button.left{
        border-radius: 0 0 0 16px;
    }

    .navbar-button.right{
        border-radius: 0 16px 0 0;
    }

    .userName {
        color: var(--textColor); 
        font-size: 60px; 
        margin: 0px;
    }

    .userFeatures{
        color: var(--textColor);
        font-size: 30px; 
    }

}

.navbar-button:hover { filter: brightness(1.5); }
.navbar-button:focus { filter: brightness(1.5); }

.active-navbar-button {
    filter: brightness(1.5);
}


.userPicture {
    height: 10em;
    border-radius: 25%; //50% to make in round
}