@media screen and (max-width: 768px) {

    .homebox {
        width: 75%;
        align-items: center;
        text-align: center;
        background-color: var(--primaryColor);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid;
        border-radius: 16px;
        padding: 30px;
        border: 1px solid var(--secondaryColor);
        border-radius: 16px;
    }

    .navbar-list {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        width: 100%;
        padding: 0px;
        margin-bottom: 0;
        border-top: 1px solid var(--secondaryColor);
        border-radius: 16px 16px 0 0;
    }

    
    .navbar-button {
        color: var(--textColor);
        background-color: var(--primaryColor);
        filter: brightness(0.8);
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px;
        opacity: 0.8;
    }

    .navbar-button.left{
        border-radius: 16px 0 0 0;
    }

    .navbar-button.right{
        border-radius: 0 16px 0 0;
    }


}

@media screen and (min-width: 769px) {

    .homebox {
        height: 400px;
        aspect-ratio: 1.6/1;
        align-items: center;
        text-align: center;
        background: var(--primaryColor);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid var(--secondaryColor);
        border-radius: 16px;
        padding: 30px;
    }

    .navbar-button {
        color: var(--textColor);
        background-color: var(--primaryColor);
        border-top: 1px solid var(--secondaryColor);
        filter: brightness(0.8);
        width: 100%;
        height: 30px;
        padding-top: 10px;
        opacity: 0.8;
    }
    
    .navbar-list {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        width: 100%;
        padding: 0px;
        margin-bottom: 0;
    }

    .navbar-button.left{
        border-radius: 0 0 0 16px;
    }

    .navbar-button.right{
        border-radius: 0 0 16px 0;
    }

}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.navbar-button:hover { filter: brightness(1.5); }
.navbar-button:focus { filter: brightness(1.5); }

.active-navbar-button {
    filter: brightness(1.5);
}

.userPicture {
    height: 10em;
    border-radius: 25%; //50% to make in round
}

.userName {
    color: var(--textColor); 
    font-size: 40px; 
    margin: 0px;
    font-family: var(--fontType);
}

.userFeatures{
    color: var(--textColor);
    font-size: 20px;
    font-family: var(--fontType);
}