<div class="homebox">

    <img class="userPicture" src="/assets/imgs/anon_user.jpg" alt="image">

    <h1 class="userName" *ngIf="getScreenWidth> 768">
        Username Usersurname
    </h1>

    <h1 class="userName" *ngIf="getScreenWidth< 769">
        Username<br />Usersurname
    </h1>

    <h2 class="userFeatures" *ngIf="getScreenWidth > 768">
        Genius * Billionaire * Playboy * Philanthropist
    </h2>

    <h2 class="userFeatures" *ngIf="getScreenWidth< 769">
        Genius<br />Billionaire<br />Playboy<br />Philanthropist
    </h2>


    <nav class="navbar" *ngIf="getScreenWidth> 768">
        <ul class="navbar-list">
            <nav class="navbar-button left" routerLink="/about" routerLinkActive="active-navbar-button"
                ariaCurrentWhenActive="page">
                About
            </nav>
            <nav class="navbar-button" routerLink="/resume" routerLinkActive="active-navbar-button"
                ariaCurrentWhenActive="page">
                Resume
            </nav>
            <nav class="navbar-button" routerLink="/portfolio" routerLinkActive="active-navbar-button"
                ariaCurrentWhenActive="page">
                Portfolio
            </nav>
            <nav class="navbar-button right" routerLink="/contact" routerLinkActive="active-navbar-button"
                ariaCurrentWhenActive="page">
                Contact
            </nav>
        </ul>
    </nav>

</div>

<nav class="navbar" *ngIf="getScreenWidth< 769">
    <ul class="navbar-list">
        <nav class="navbar-button left" routerLink="/about" routerLinkActive="active-navbar-button"
            ariaCurrentWhenActive="page">
            About
        </nav>
        <nav class="navbar-button" routerLink="/resume" routerLinkActive="active-navbar-button"
            ariaCurrentWhenActive="page">
            Resume
        </nav>
        <nav class="navbar-button" routerLink="/portfolio" routerLinkActive="active-navbar-button"
            ariaCurrentWhenActive="page">
            Portfolio
        </nav>
        <nav class="navbar-button right" routerLink="/contact" routerLinkActive="active-navbar-button"
            ariaCurrentWhenActive="page">
            Contact
        </nav>
    </ul>
</nav>