/* You can add global styles to this file, and also import other style files */
:root {
    --backgroundColor: #222831;
    --primaryColor: #393E46;
    --secondaryColor: #FFD369;
    --textColor: #EEEEEE;
    --fontType: 'Open Sans';
}

/*
:root {
    --backgroundColor: #2C3639;
    --primaryColor: #3F4E4F;
    --secondaryColor: #A27B5C;
    --textColor: #DCD7C9;
    --fontType: 'Open Sans';
}

:root {
    --backgroundColor: #0F044C;
    --primaryColor: #141E61;
    --secondaryColor: #787A91;
    --textColor: #EEEEEE;
    --fontType: 'Open Sans';
}

:root {
    --backgroundColor: #21325E;
    --primaryColor: #3E497A;
    --secondaryColor: #F1D00A;
    --textColor: #F0F0F0;
    --fontType: 'Open Sans';
}

:root {
    --backgroundColor: #2C3333;
    --primaryColor: #395B64;
    --secondaryColor: #A5C9CA;
    --textColor: #E7F6F2;
    --fontType: 'Open Sans';
}

:root {
    --backgroundColor: #222831;
    --primaryColor: #393E46;
    --secondaryColor: #FFD369;
    --textColor: #EEEEEE;
    --fontType: 'Open Sans';
}
*/