@charset "utf-8";

html *,
html *::after,
html *::before {
  box-sizing: border-box;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;

  // TODO: TMP BACKGROUND
  background-image: url(https://s3.eu-west-1.amazonaws.com/unsortedhashsets.github.io/5e87e737ee7085fccd02c10d_pattern-grey.svg);
  background-position: 0px 0px;
  background-size: 6px;
}

html {
  font-size: 12px;
}

@media only screen and (min-width: 840px) {
  html {
    font-size: 14px;
  }
}
